<app-toolbar></app-toolbar>
<form fxLayout="row" fxLayoutGap="3%" fxLayoutAlign="center">
  <div fxLayout="column">
    <mat-form-field>
      <mat-label>Common name</mat-label>
      <input value="{{certificate.subjectData.commonName}}" name="commonName" matInput readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Organizational unit</mat-label>
      <input value="{{certificate.subjectData.organizationalUnit}}" name="organizationalUnit" matInput
             readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>State</mat-label>
      <input value="{{certificate.subjectData.state}}, {{certificate.subjectData.country}}"
             name="state" matInput readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Creation date</mat-label>
      <input value="{{certificate.startDate|date : 'dd/MM/yyyy'}}" name="startDate" matInput readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Issuer</mat-label>
      <input value="{{certificate.issuer}}" name="issuer" matInput readonly>
    </mat-form-field>
  </div>

  <div fxLayout="column">
    <mat-form-field>
      <mat-label>Organization</mat-label>
      <input value="{{certificate.subjectData.organization}}" name="organization" matInput readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>City</mat-label>
      <input value="{{certificate.subjectData.city}}" name="city" matInput readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email address</mat-label>
      <input value="{{certificate.subjectData.email}}" name="email" matInput readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Expiration date</mat-label>
      <input value="{{certificate.endDate|date : 'dd/MM/yyyy'}}" name="endDate" matInput readonly>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="certificate.ca" name="ca" (click)="$event.preventDefault()">Certificate Authority
    </mat-checkbox>
  </div>
</form>
<button mat-raised-button color="primary" (click)="this.location.back()">Back</button>
