#certificates-table {
  margin-top: 2%;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

#certificates-table table {
  width: 100%;
}

.mat-row:hover {
  background: whitesmoke;
  cursor: pointer;
}
