#certificates-table {
  margin-top: 2%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

#certificates-table table {
  width: 100%;
}

#certificates-table td {
}

#certificates-table th {
  text-align: center;
}

.mat-row:hover {
  background-color: #0074D9;
  cursor: pointer;
  color: white;
}
