<div class="mat-elevation-z8" id="certificates-table">
  <table mat-table [dataSource]="certificates" matSort>

    <ng-container matColumnDef="commonName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Common Name</th>
      <td mat-cell *matCellDef="let row">{{row.commonName}}</td>
    </ng-container>

    <ng-template [ngIf]="this.mode == 0" [ngIfElse]="certificate">
      <ng-container matColumnDef="organization">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization</th>
        <td mat-cell *matCellDef="let row">{{row.organization}}</td>
      </ng-container>

      <ng-container matColumnDef="organizationalUnit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Organizational Unit</th>
        <td mat-cell *matCellDef="let row">{{row.organizationalUnit}}</td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
        <td mat-cell *matCellDef="let row">{{row.city}}</td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
        <td mat-cell *matCellDef="let row">{{row.state}}</td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
        <td mat-cell *matCellDef="let row">{{row.country}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>
    </ng-template>

    <ng-template #certificate>
      <ng-container matColumnDef="serialNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Serial Number</th>
        <td mat-cell *matCellDef="let row">{{row.serialNumber}}</td>
      </ng-container>
      <ng-container matColumnDef="issuer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Issuer</th>
        <td mat-cell *matCellDef="let row">{{row.issuer}}</td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>From</th>
        <td mat-cell *matCellDef="let row">{{row.startDate|date : 'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>To</th>
        <td mat-cell *matCellDef="let row">{{row.endDate|date : 'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="ca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CA</th>
        <td mat-cell *matCellDef="let row">{{row.ca}}</td>
      </ng-container>
    </ng-template>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-flat-button color="primary" (click)="process(row)">{{mode|modePipe}}</button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[6]" [hidePageSize]="true"></mat-paginator>
</div>
