table {
  width: 100%;
}

td, th {
  width: 25%;
}

#certificates-table {
  margin-top: 2%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

#certificates-table td {
  padding:10px;
}

#certificates-table th {
  text-align: center;
}
