<mat-toolbar color="primary" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
  <span>
    <a mat-button routerLink="/dashboard/logs">Defence First</a>
    <button routerLink="/dashboard/logs" mat-button>Logs</button>
    <button routerLink="/dashboard/alarms" mat-button>Alarms</button>
    <button routerLink="/dashboard/certificates" mat-button>Certificates</button>
  </span>
  <span fxLayoutAlign="right">
    <button (click)="authorizationService.logout()" mat-button>Logout</button>
  </span>
</mat-toolbar>
