<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['/dashboard/alarms/rules']"
     [active]="this.router.url === '/dashboard/alarms/rules'">Created alarms</a>
  <a *ngIf="authService.role === 'Administrator'" mat-tab-link [routerLink]="['/dashboard/alarms/raised']"
     [active]="this.router.url === '/dashboard/alarms/raised'">Raised alarms</a>
  <a *ngIf="authService.role === 'Administrator'" mat-tab-link [routerLink]="['/dashboard/alarms/create']"
     [active]="this.router.url === '/dashboard/alarms/create'">Create alarm</a>
</nav>
